.offline-container {
  height: 100vh;
  background: #0F0E47;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.offline-image {
  width: 180px;
  margin-bottom: 20px;
  animation: float 2.8s ease-in-out infinite;
}

p {
  opacity: 0.9;
  font-size: 1rem;
}

/* ✨ floating animation */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
